.Login {
    display: block;
    font-weight: 600;
}
  
  .grid-item {
    display: flex;
    max-width: 25px;
    text-align: center;
    grid-row: 1;
  }
  
  .grid-hr {
    background-color: #000;
    min-width: 300px;
    grid-row: 1;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}