@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --text-colorProfile: #00fbff;
    --bg-color: #323234;
    --whiteProfile: #fff;
    --black: #000;
    --mob-color: #444444;
    --logo-type-color: #844298;

    --primary-color: #222260;
    --primary-color2: 'color: rgba(34, 34, 96, .6)';
    --primary-color3: 'color: rgba(34, 34, 96, .4)';
    --color-green: #42AD00;
    --color-red: #FF0000;
    --color-grey: #e3e2e2;
    --color-accent: #F56692;
    --color-delete: #FF0000;

    --text--: #000;
    --white--: #fff;
}

.container {
    max-width: 1250px;
    width: 100%;
}

.headerProfile {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* home section */

.home {
    top: 0;
    height: 100vh;
}


/* media screen */

@media screen and (max-width: 1280px) {
    .home {
        /* padding: 250px 50px; */
        z-index: auto;
    }
}

@media screen and (max-width: 992px) {

    /* Home Section */

    .home {
        position: relative;
        /* padding: 50px; */
        height: 100%;
    }

    .home-info {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 567px) {
    /* .home {
        padding: 30px;
    } */
}

.input-container {
    display: flex;
    flex-direction: column;
  }
  
  .text-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
  }

  .text-input-Intro {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
  }
  
  .text-input:focus {
    outline: none;
    border-color: dodgerblue;
  } 
 .text-input-Intro:focus {
    outline: none;
    border-color: dodgerblue;
  }

/* .addLan {
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 17px;
} */

.SaveBut {
    margin-left: 4px;
    padding: 10px;
    background-color: purple;
    background-color: var(--logo-type-color);
    border-radius: 7px;
}

.SaveBut:hover {
    scale: 1.05;
    color: var(--whiteProfile);
  } 

.hero {
    width: 100%;
    height: 220px;
    border-radius: 15px;
    background: linear-gradient(var(--logo-type-color), var(--color-accent));
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#drop-area {
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
    align-content: center;
}

#img-view {
    width: 100%;
    height: 60%;
    border-radius: 15px;
    border: 2px dashed var(--color-grey);
    background: var(--whiteProfile);
}

#img-view img {
    /* width: 100px; */
    margin-top: 25px;
}

#img-view p {
    font-size: 12px;
}

#img-view span {
    display: block;
    font-size: 10px;
    color: #777;
    margin-top: 15px;
}

.hide {
    display: none;
}