.h-screen {
    height: 60vh; /* Full viewport height */
    display: flex; /* Flex container */
    flex-direction: column; /* Arrange children vertically */
}

.flex {
    display: flex; /* Flex container */
    flex: 1; /* Occupy remaining space */
}

.cal {
    margin: 0 auto; /* Center the container horizontally */
    height: 80vh; /* Take up 80% of the viewport height */
    padding: 5px; 
}