header {
    padding: 0.5rem 1rem; /* Padding of 0.5rem (8px) top and bottom, 1rem (16px) left and right */
    display: flex; /* Flex container */
    align-items: center; /* Align items vertically center */
}

/* Styles for the image element inside the header */
img {
    margin-right: 0.5rem; /* Margin right of 0.5rem (8px) */
    width: 3rem; /* Width of 3rem (48px) */
    height: 3rem; /* Height of 3rem (48px) */
}

/* Styles for the h1 element inside the header */
h1 {
    margin-right: 2.5rem; /* Margin right of 2.5rem (40px) */
    font-size: 1.5rem; /* Font size of 1.5rem (24px) */
    color: #718096; /* Gray-500 color */
    font-weight: 700; /* Bold font weight */
}

/* Styles for the button elements inside the header */
button {
    border: 1px solid transparent; /* 1px solid border */
    border-radius: 0.25rem; /* 0.25rem (4px) border radius */
    padding: 0.5rem 1rem; /* Padding of 0.5rem (8px) top and bottom, 1rem (16px) left and right */
    margin-right: 1.25rem; /* Margin right of 1.25rem (20px) */
    background-color: transparent; /* Transparent background */
    cursor: pointer; /* Cursor pointer */
}

/* Styles for the span element inside the button */

.cursor-pointer {
    cursor: pointer; /* Cursor pointer */
}

.text-gray-600 {
    color: #a0aec0; /* Gray-600 color */
}

.mx-2 {
    margin-left: 0.5rem; /* Horizontal margin of 0.5rem (8px) */
    margin-right: 0.5rem; /* Horizontal margin of 0.5rem (8px) */
}

/* Styles for the h2 element inside the header */
h2 {
    margin-left: 1rem; /* Margin left of 1rem (16px) */
    font-size: 1.5rem; /* Font size of 1.5rem (24px) */
    color: #718096; /* Gray-500 color */
    font-weight: 700; /* Bold font weight */
}

.px-4 {
    padding-left: 1rem; /* Equivalent to 4px in Tailwind CSS */
    padding-right: 1rem; /* Equivalent to 4px in Tailwind CSS */
  }
  
  .py-2 {
    padding-top: 0.5rem; /* Equivalent to 2px in Tailwind CSS */
    padding-bottom: 0.5rem; /* Equivalent to 2px in Tailwind CSS */
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }

  .mr-2 {
    margin-right: 0.5rem; /* Equivalent to 2px in Tailwind CSS */
  }
  
  .w-12 {
    width: 3rem; /* Equivalent to 12px in Tailwind CSS */
  }
  
  .h-12 {
    height: 3rem; /* Equivalent to 12px in Tailwind CSS */
  }

  .mr-10 {
    margin-right: 2.5rem; /* Equivalent to 10px in Tailwind CSS */
  }
  
  .text-xl {
    font-size: 1.25rem; /* Equivalent to 20px in Tailwind CSS */
  }
  
  .text-gray-500 {
    color: #6b7280; /* Equivalent gray color in Tailwind CSS */
  }
  
  .font-bold {
    font-weight: 700; /* Equivalent to bold in Tailwind CSS */
  }