.makeCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.space {
    display: block;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.hr {
    overflow-x: hidden;
    width: 110%;
    margin-left: -50px;
}