:root {
    --primary-color: #222260;
    --primary-color2: 'color: rgba(34, 34, 96, .6)';
    --primary-color3: 'color: rgba(34, 34, 96, .4)';
    --color-green: #42AD00;
    --color-red: #FF0000;
    --color-grey: #e3e2e2;
    --color-accent: #F56692;
    --color-delete: #FF0000;

    --text--: #000;
    --white--: #fff;
}


.container {
    display: flex;
    max-width: 1250px;
    width: 100%;
}

.navLinks {
    color: var(--text--);
    font-weight: 600;
}

#rLinks {
    display: flex;
    flex-direction: row; /* Main axis is horizontal */
    justify-content: flex-end;
}

header1 {
    background: var(--white--);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--text--);
}

nav .logo a span {
    color: var(--text--);
}

nav ul {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 25px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    list-style: none;
}

nav ul div a {
    color: var(--white);
    transition: 0.4s ease;  
}

nav ul div button :hover {
    color: var(--text-color);
    border-color: none;

}

a {
    text-decoration: none;
  }

  .selectOptions button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--white--);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  .selectOptions button :hover {
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 0.7rem 0.5rem;
    margin: 1.1rem -0.5rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
  }

.friendButt {
    border-radius: 8px;
    border: 2px solid ;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    background-color: var(--white--);
    cursor: pointer;
}

.friendButt:hover{
    background-color:var(--color-grey);
}

.noShow {
    transition: border-color 0.25s;
    /* display: hidden; */
}

.hr {
    overflow-x: hidden;
    width: 110%;
    margin-left: -50px;
}

@media screen and (max-width: 875px){
    .noShow {
        display: none;
    }
}