.containerNavLogin {
    display: flex;
    justify-content: space-between; /* Centering the content and putting space between elements */
    align-items: center; /* Centering vertically */
    padding: 10px;
}

.logo {
    display: flex;
}

.LogoPic {
    width: 75px;
    transition: flex-grow 0.3s ease;
    border-radius: 25px;
}

.LogoPic:hover {
    transform: scale(1.05);
}

.log_butt_right_container {
    margin: 20px 0px;
    margin-left: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0 20;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.blok {
    display: inline-block;
}